body {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  justify-content: center;
}

.header {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  padding: 20px 100px;
}

.logo {
  color: #f9f2f8;
  font-size: 24px;
  font-weight: bold;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #e5e7eb;
  display: flex;
  gap: 20px;
}

.header-main {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero-main {
  color: #f9f2f8;
  font-size: 48px;
  font-weight: 900;
  margin-top: 100px;
}

.hero-secondary {
  color: #e5e7eb;
}

.header-image {
}

button {
  width: 100px;
}
