body {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  justify-content: center;
  /* max-width: 1600px; */
  flex-direction: column;
}

.header,
.footer {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  padding: 20px 100px;
}

.logo {
  color: #f9f2f8;
  font-size: 24px;
  font-weight: bold;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #e5e7eb;
  display: flex;
  gap: 20px;
}

.header-main {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: flex-start;
  margin: 100px 0;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero-main {
  color: #f9f2f8;
  font-size: 48px;
  font-weight: 900;
}

.hero-secondary {
  color: #e5e7eb;
  font-size: 22px;
}

button {
  max-width: fit-content;
  background-color: #3882f6;
  color: #f9f2f8;
  font-weight: bold;
  font-size: 20px;
  border-radius: 6px;
  border: 1px solid #057fd0;
  padding: 6px 24px;
}

.hero-button {
  margin-top: 20px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-header {
  padding: 50px 0 20px 0;
  font-size: 40px;
}

.images {
  display: flex;
  justify-content: space-around;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: normal;
  flex-basis: 250px;
}

.gallery-image {
  border-radius: 25px;
  border: 5px solid #3882f6;
}

.image-description {
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  padding: 50px 250px;
  margin: 50px 0;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quote-subtext {
  text-align: right;
  font-size: 30px;
  font-weight: bold;
}

.call-to-action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.call {
  background-color: #3882f6;
  flex-basis: 1000px;
  border-radius: 5px;
  color: #f9f2f8;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.call-header {
  font-size: 22px;
  font-weight: bold;
}

.call-header {
  font-size: 20px;
}

.call-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.call-to-action-button {
  border-color: #f9f2f8;
  margin: 0;
}

.footer {
  color: #e5e7eb;
  text-align: center;
  margin-top: 50px;
}
